@model LeadManagementSystems.Models.LeadTypeModel
@{
    ViewBag.Title = "AddLeadType";
}

<section class="content-header text-center text-uppercase">
    <h1><strong>Add Lead Type</strong></h1>
</section>

<!-- Main content -->
<section class="content ">
    <div class="row">
        <div class="col-sm-12 ">
            
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 control-label" style="padding-left:100px;padding-top:6px;font-size:medium;">Lead Type</label>
                <form id="addleadtype">
                    @Html.HiddenFor(model=>model.ID)
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.LeadTypeName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Lead Type",@required=true } })
                        @Html.ValidationMessageFor(model => model.LeadTypeName, "", new { @class = "text-danger" })
                    </div>
                </form>
                <div class="col-sm-4">
                   <input type="button" value="Add Lead Type" id="btnadd" class="form-control" />
                </div>
            </div>
        </div>
        </div>
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-sm-12 ">
            <table id="example1" class="table box table-bordered table-striped dataTable" role="grid">
                <thead>
                    <tr role="row">
                        <th colspan="1">Lead Type</th>
                        <th colspan="1">Status</th>
                        <th colspan="1">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    

                </tbody>

            </table>
        </div>
    </div>
    <!-- /.row -->


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title text-uppercase" id="exampleModalLabel"><strong>Active LEADS</strong></h4>
                </div>
                <div class="modal-body" id="modelbody" style="padding-top:0px;">
                    <table id="example1" class="table table-bordered table-striped" role="grid" style="margin:0px;">

                        <tbody>
                            <tr role="row" class="odd">
                                <td><strong>Date</strong></td>
                                <td id="ldate">abc</td>
                            </tr>

                            <tr role="row" class="even">
                                <td><strong>Time</strong></td>
                                <td id="ltime">9:00 AM</td>
                            </tr>

                            <tr role="row" class="odd">
                                <td><strong>Lead Type</strong></td>
                                <td id="ltype">Direct Call	</td>
                            </tr>

                            <tr role="row" class="even">
                                <td><strong>Client Name</strong>	</td>
                                <td id="lclient">Mike Anderson</td>
                            </tr>

                            <tr role="row" class="odd">
                                <td><strong>Contact No</strong></td>
                                <td id="lcontact">123-456-4589</td>
                            </tr>

                            <tr role="row" class="even">
                                <td><strong>Email</strong></td>
                                <td id="lemail">test@gmail.com</td>
                            </tr>

                            <tr role="row" class="odd">
                                <td><strong>Timezone</strong></td>
                                <td id="ltimezone">EST</td>
                            </tr>

                            <tr role="row" class="even">
                                <td><strong>Location</strong></td>
                                <td id="llocation">19th Avenue, Adison City, New Jersey</td>
                            </tr>

                            <tr role="row" class="odd">
                                <td><strong>IP</strong></td>
                                <td id="lip">192.123.452.33</td>
                            </tr>

                            <tr role="row" class="even">
                                <td><strong>Active / In Active</strong></td>
                                <td id="lleadstatus">Open</td>
                            </tr>

                            <tr role="row" class="odd">
                                <td><strong>Budget (idea)</strong></td>
                                <td id="lbudget">$100.0</td>
                            </tr>

                            <tr role="row" class="even">
                                <td><strong>Last Status (as available)</strong></td>
                                <td id="llaststatus">talk with him on Aug 8, he'll sent us requirements by Monday Jan  30 2020, he'll send project details for POC</td>
                            </tr>

                            <tr role="row" class="odd">
                                <td><strong>Next Action Plan</strong></td>
                                <td id="lnxt">call him on Thursday Feb 4th 2020 at 1:00pm</td>
                            </tr>

                            <tr role="row" class="even">
                                <td><strong>Initial Requirements</strong></td>
                                <td id="linitailarequiremnts">A company deals in specific law/legal/ jail specific software products, currently they have desktop applications developed in C++ and Ms. SQL Server. They want to have a cloud based web enabled application and express intensions to pay for the development services. Proposed PHP and My Sql as back end technology, Cary has a meeting with other team members. It has been agreed to have a follow-up call on Monday.</td>
                            </tr>

                        </tbody>

                    </table>
                </div>
                <!--<div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>-->
            </div>
        </div>
    </div>

    
</section>

@section MyScripts {
    @*<script type="text/javascript" src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="~/Content/dist/js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="~/Content/dist/js/jquery.validate.unobtrusive.min.js"></script>
        <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
        <script src="~/Content/plugins/toastr/toastr.min.js"></script>*@
    <script type="text/javascript">

        $.ajax({
            url: "/Lead/GetActiveLeadType",
            success: function (data) {
                bindCustomersInDataTable(data);
            }



        });

        function bindCustomersInDataTable(data) {
            var status = "Blocked".toString();
            console.log(data);
            var table = $('#example1').DataTable({
                data: data.data,


                columns: [

                

                    { data: 'LeadTypeName' },//or { data: 'MONTH', title: 'Month' }`
                    { data: 'Status' },
                   
                    {
                        "data": "ID",
                        "render": function (ID, type, full, meta) {
                            return '<a href="#" class="btn btn-danger" onclick="DeleteLeadType(' + ID + ')">Delete</a> <a href="#" class="btn btn-primary" onclick="EditLeadType(' + ID + ')">Edit</a>'

                            // return '<button type="button" class="btn btn-danger" onclick="ShowEmployee(' + ID + ') >View</button>&nbsp;<button type="button" class="btn btn-primary">Edit</button>'
                            // return '<img  src="'+ID+'" />'
                            //return '<a href="#" class="btn btn-info" onclick="ShowEmployee(' + ID + ')"><i class="fa fa-eye"></i></a>'

                        },
                        "orderable": true,
                        "searchable": true,


                    }
                ]
            });

        }

        $('#btnadd').click(function (e) {
            //console.log("dasa");
            e.preventDefault();
            var form = $("#addleadtype");
            var formdata = new FormData(form[0]);
            //var file = $("#profilepic").get(0).files;
            //formdata.append("ProfilePictureFile", file[0]);
            //console.log(file)
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {

                $.ajax({
                    type: "POST",
                    url: "/Lead/AddNewLeadType",
                    data: $(form).serialize(),
                    //contentType: false,
                    //processData: false,
                    //cache: false,
                    success: function (res) {
                        if (res.code == 200) {
                            Command: toastr["success"]("success", "Added successfuly")

                            toastr.options = {
                                "closeButton": false,
                                "debug": false,
                                "newestOnTop": false,
                                "progressBar": true,
                                "positionClass": "toast-top-center",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            window.location.reload();
                           // window.location.href = "/Dashboard/Dashboard"
                        }
                        else if (res.code != 200) {
                                Command: toastr["error"]("Failed", "Login Failed")

                            toastr.options = {
                                "closeButton": false,
                                "debug": false,
                                "newestOnTop": false,
                                "progressBar": true,
                                "positionClass": "toast-top-center",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                        }
                    },
                    failure: function (res) {
                        console.log(res);
                    },
                    err: function (res) {
                        console.log(res);
                    }

                })
           
            }
            else {
                return false;
            }


        });

        function DeleteLeadType(leadid) {
            var url = "/Lead/DeleteLeadType?id="+leadid;
            $.post(url, function (data) {
                window.location.reload();
            })
        }
        function EditLeadType(leadid) {
            var url = "/Lead/ShowLeadType?id=" + leadid;
            $.post(url, function (data) {
                $("#LeadTypeName").val(data.data.LeadTypeName);
                $("#ID").val(data.data.ID);
                $("#btnadd").val("Update");
                console.log(data);
            })
        }
    </script>
}